<!doctype html>
<html ng-app="dmTool">
    <head>
        <title>D&D DM Tool</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link rel="stylesheet" media="screen" type="text/css" href="assets/css/app.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>

        <main ng-controller="adventureController as app">
            <div class="flex l-main">

                <!-- party info-->
                <div class="flex__item l-main__party">
                    <h2>Config</h2>

                    <h3>Your party <small>({{ party.length || 0 }} members)</small></h3>
                    <ul class="party-list list-unstyled">
                        <li ng-repeat="p in party track by $index"
                            class="party-list__item">
                            <player-bar player="p"
                                        human="true"
                                        edit-player="editPlayer"
                                        class="flex">
                            </player-bar>
                        </li>
                    </ul>

                    <button class="btn btn-primary btn-sm"
                            ng-click="showOverlay('add-player')">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new party member?
                    </button>

                </div>

                <!-- encounter pane -->
                <div class="flex__item l-main__encounters">
                    <h2>Encounters</h2>

                    <!--<h3>Active Encounter</h3>-->
                    <!--<div ng-show="!activeEncounter">-->
                        <!--<p>No active encounter yet &ndash; begin one below.</p>-->
                        <!--<button class="btn btn-primary">Begin an encounter</button>-->
                    <!--</div>-->

                    <h3>Monsters in encounter</h3>
                    <ul class="party-list list-unstyled">
                        <li ng-repeat="m in encounter.monsters track by $index"
                            class="party-list__item">
                            <player-bar player="m"
                                        edit-monster="editMonster"
                                        get-ability-score-modifier="getAbilityScoreModifier"
                                        class="flex"></player-bar>
                        </li>
                    </ul>


                    <!-- add monster from list -->
                    <select class="form-control"
                            ng-model="monsterToAdd"
                            ng-options="option.name for option in monsters track by option.id">
                        <option value="">---Choose a monster to add---</option>
                    </select>
                    <!-- add monster button -->
                    <button class="btn btn-primary"
                            ng-click="addMonsterToEncounter(monsterToAdd.data)"
                            ng-show="monsterToAdd">
                        Add {{ monsterToAdd.data.name }} to this encounter
                    </button>


                </div>

                <!-- tools & misc -->
                <div class="flex__item l-main__tools text-right">
                    <h2>Tools</h2>

                    <!-- dice -->
                    <h3>Dice Roller</h3>
                    <div class="dice-holder">
                        <div class="dice"
                             ng-repeat="d in dice"
                             ng-click="roll(d)">
                            <span>D{{ d }}</span>
                        </div>
                    </div>
                    <div class="dice-result">
                        <h3 class="dice-result__dice">{{ diceRoll.dice || 'Dice' }}</h3>
                        <h4 class="dice-result__roll">{{ diceRoll.roll || '—' }}</h4>
                    </div>

                    <!-- loot divider -->
                    <h3>Loot Divider</h3>
                    <div ng-repeat="c in currencies">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">{{ c.name }}</span>
                            <input type="text" class="form-control" ng-model="c.value">
                            <div ng-show="c.share" class="input-group-addon">= {{ c.share }}{{ c.abbreviation}}p each</div>
                        </div>
                    </div>
                    <button class="btn btn-primary" ng-click="splitLoot()">Split {{ party.length }} ways</button>
                    <button class="btn btn-primary" ng-click="clearCurrency()">Clear all</button>


                </div>
            </div>

            <!-- overlay -->
            <div class="modal fade" ng-class="{ 'in visible': showModal }">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="hideOverlay()">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title" ng-show="showModal === 'add-player'">Add player</h4>
                            <h4 class="modal-title" ng-show="showModal === 'edit-player'">Edit {{ playerToEdit.name</h4>
                            <h4 class="modal-title" ng-show="showModal === 'edit-monster'">Edit {{ monsterToEdit.name
                                }}</h4>
                        </div>
                        <div class="modal-body">
                            <!-- add player -->
                            <div ng-show="showModal === 'add-player'">
                                <player-form player="{}"
                                             races="races"
                                             class-types="classTypes"
                                             create-player="createPlayer">
                                </player-form>
                            </div>
                            <!-- edit player -->
                            <div ng-show="showModal === 'edit-player'">
                                <player-form player="playerToEdit"
                                             races="races"
                                             class-types="classTypes"
                                             done-editing="doneEditing">
                                </player-form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="hideOverlay()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade"
                 style="display: none;"
                 ng-class="{ 'in visible': showModal }"></div>
        </main>

        <script src="assets/js/libs/angular.min.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>
