<!doctype html>
<html ng-app="dmTool">
    <head>
        <title>D&D DM Tool</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <link rel="stylesheet" media="screen" type="text/css" href="assets/css/app.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body ng-controller="adventureController as app">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <strong>Gygax</strong>
                        <small>D&amp;D DM Tool</small>
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="http://tabletopaudio.com/soundpad.html">Tabletop Audio</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Save /
                         Restore Party<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" ng-click="saveState()">Save current state</a>
                                <a href="#" ng-click="loadState()">Load most recent state</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <main>

            <div class="flex l-main">

                <!-- party info-->
                <div class="flex__item l-main__party">
                    <div class="inner">
                        <h2>Player Configuration</h2>
                        <h3>Your party <small>({{ party.length || 0 }} members)</small></h3>
                    </div>
                    <ul class="party-list list-unstyled">
                        <li ng-repeat="p in party track by $index"
                            class="party-list__item">
                            <player-bar player="p"
                                        human="true"
                                        edit-player="editPlayer"
                                        damage-player="damagePlayer">
                            </player-bar>
                        </li>
                    </ul>

                    <div class="inner">
                        <button class="btn btn-primary btn-sm btn-block"
                                ng-click="showOverlay('add-player')">
                            Add new party member
                        </button>
                    </div>

                </div>

                <!-- encounter pane -->
                <div class="flex__item l-main__encounters inner">
                    <h2>Monsters &amp; encounters</h2>

                    <div class="row">

                        <!-- monster list -->
                        <div class="col-md-6">
                            <h3>Monsters in encounter</h3>

                            <!-- add monster from list -->
                            <div class="row">
                                <div class="col-md-8">
                                    <select class="form-control"
                                            ng-model="monsterToAdd"
                                            ng-options="option.name for option in monsters track by option.id">
                                        <option value="">---Choose a monster to add---</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <!-- add monster button -->
                                    <button class="btn btn-primary btn-block"
                                            ng-click="addMonsterToEncounter(monsterToAdd.data)"
                                            ng-show="monsterToAdd">
                                        Add
                                    </button>
                                </div>
                            </div>

                            <ul class="party-list party-list--monsters list-unstyled">
                                <li ng-repeat="m in encounter.monsters track by $index" class="party-list__item">
                                    <player-bar player="m"
                                                view-monster="viewMonster"
                                                get-ability-score-modifier="getAbilityScoreModifier"
                                                damage-player="damagePlayer">
                                    </player-bar>
                                </li>
                            </ul>
                        </div>

                        <!-- turn controller-->
                        <div class="col-md-6">
                            <h3>Turn Manager</h3>

                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-block btn-primary"
                                            ng-click="beginRound()"
                                            ng-disabled="encounter.monsters.length === 0"
                                            ng-if="!round">
                                        Begin combat
                                    </button>
                                    <button class="btn btn-block btn-danger"
                                            ng-click="endRound()"
                                            ng-if="round">
                                        End combat
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-block btn-success"
                                            ng-click="nextTurn()"
                                            ng-disabled="!round">
                                        Next turn
                                    </button>
                                </div>
                            </div>

                            <h4 ng-show="round">Round {{ round }}</h4>

                            <ol ng-show="round">
                                <li ng-repeat="c in getCombatants() | orderBy:'-initiative' as filtered_result track by $index"
                                    ng-class="{ 'current-turn': turn === $index }">
                                    <span ng-class="{ 'disabled': c.surprised, 'defeated': c.hit_points <= 0 }">{{
                                        c.name
                                        }}</span>
                                </li>
                            </ol>
                        </div>
                    </div>


                </div>

                <!-- tools & misc -->
                <div class="flex__item l-main__tools text-right inner">
                    <h2>Tools</h2>

                    <!-- dice -->
                    <h3>Dice Roller</h3>
                    <div class="dice-holder">
                        <div class="dice"
                             ng-repeat="d in dice"
                             ng-click="roll(d)">
                            <span>D{{ d }}</span>
                        </div>
                    </div>
                    <div class="dice-result">
                        <h3 class="dice-result__dice">{{ diceRoll.dice || 'Dice' }}</h3>
                        <h4 class="dice-result__roll">{{ diceRoll.roll || '—' }}</h4>
                    </div>

                    <!-- loot divider -->
                    <h3>Loot Divider</h3>
                    <div ng-repeat="c in currencies">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">{{ c.name }}</span>
                            <input type="text" class="form-control" ng-model="c.value">
                            <div ng-show="c.share" class="input-group-addon">= {{ c.share }}{{ c.abbreviation}}p each</div>
                        </div>
                    </div>

                    <div class="row cur-btns">
                        <div class="col-md-6">
                            <button class="btn btn-primary" ng-click="splitLoot()">Split {{ party.length }}
                                ways</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary" ng-click="clearCurrency()">Clear all</button>
                        </div>
                    </div>

                    <h3>Notes</h3>
                    <textarea class="form-control"></textarea>


                </div>
            </div>

            <!-- overlay -->
            <div class="modal fade" ng-class="{ 'in visible': showModal }">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="hideOverlay()">
                                <span>&times;</span>
                            </button>
                            <h4 class="modal-title" ng-show="showModal === 'add-player'">Add player</h4>
                            <h4 class="modal-title" ng-show="showModal === 'edit-player'">Editing: {{ playerToEdit.name
                                }}</h4>
                            <h4 class="modal-title" ng-show="showModal === 'view-monster'">Viewing: {{
                                monsterToView.name }}</h4>
                        </div>
                        <div class="modal-body">
                            <!-- add player -->
                            <div ng-show="showModal === 'add-player'">
                                <player-form player="newPlayerTemplate"
                                             races="races"
                                             class-types="classTypes"
                                             create-player="createPlayer">
                                </player-form>
                            </div>
                            <!-- edit player -->
                            <div ng-show="showModal === 'edit-player'">
                                <player-form player="playerToEdit"
                                             races="races"
                                             class-types="classTypes"
                                             done-editing="doneEditing">
                                </player-form>
                            </div>
                            <!-- view monster -->
                            <div ng-show="showModal === 'view-monster'">
                                <h3>Senses</h3>
                                <p>{{ monsterToView.senses }}</p>
                                <h3>Actions</h3>
                                <ul class="list-group">
                                    <li ng-repeat="action in monsterToView.actions" class="list-group-item">
                                        <h4 class="list-group-item-heading">{{ action.name }}</h4>
                                        <p class="list-group-item-text">
                                            <span ng-if="action.descfull">{{ action.desc }}</span>
                                            <span ng-if="!action.descfull">{{ action.desc | limitTo : 100 }}...</span>
                                            <button class="btn btn-link"
                                                    ng-click="toggleAction(action)">
                                                <span ng-show="!action.descfull">read more</span>
                                                <span ng-show="action.descfull">read less</span>
                                            </button>
                                        </p>
                                        <span ng-if="action.attack_bonus">
                                            <strong>ATK</strong> +{{ action.attack_bonus }}<br />
                                        </span>
                                        <span ng-if="action.damage_dice">
                                            <strong>Damage</strong> {{ action.damage_dice }}
                                            <span ng-if="action.damage_bonus">+ {{ action.damage_bonus }}</span>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="hideOverlay()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop fade"
                 style="display: none;"
                 ng-class="{ 'in visible': showModal }"></div>
        </main>

        <script src="assets/js/libs/angular.min.js"></script>
        <script src="assets/js/app.js"></script>
    </body>
</html>
