html, body, main {
    height: 100%;
    overflow: hidden;
}


.flex {
    display: flex;
    height: 100%;
}

.flex--vert {
    flex-direction: column;
    justify-content: space-between;
}

.flex__item {
    flex-grow: 1;
}

.l-main__party {
    overflow: scroll;
    flex-basis: 280px;
}

.l-main__encounters {
    overflow: scroll;
    flex-grow: 5;
}

.l-main__tools {
    overflow: scroll;
    flex-grow: 0;
    flex-basis: 250px;
}

.avatar {
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 100%;
    border: 4px solid #bfbfa9;
    margin: auto;
    margin-bottom: 10px;
    padding: 0;
}

.party-list {
    margin: 0;
}

.party-list__item {
    align-items: center;
    margin-bottom: 20px;
}

.party-list__icon {
    flex-grow: 0;
    margin-right: 20px;
    width: 80px;
    flex-shrink: 0;
}

.party-list__info {
    vertical-align: middle;
}

.dice-holder {
    margin-bottom: 10px;
    overflow: hidden;
}

.dice {
    float: right;
    width: 50px;
    height: 50px;
    outline: 1px solid #cccccc;
    display: table;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.dice:hover {
    background-color: #ffffff;
}

.dice span {
    display: table-cell;
    vertical-align: middle;
}

.dice:nth-child(3n+1) {
    clear: right;
}

.dice-result {
    clear: right;
    background-color: #dadada;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 20px;
}

.dice-result__dice {
    font-size: 12px;
    margin: 5px 0 0 0;
    color: #666666;
}

.dice-result__roll {
    font-size: 32px;
}

.stat-block {
    margin-bottom: 20px;
}

.stat-block li {
    display: inline-block;
    width: 35px;
    height: 48px;
    border: 1px solid #cccccc;
    vertical-align: top;
    margin-right: 10px;
    text-align: center;
}

.stat-block li:last-child {
    margin-right: 0;
}

.stat-block span {
    display: block;
}

.stat-block__name {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #999999;
    margin: 3px 0 0 0;
}

.stat-block__value {
    font-size: 14px;
    color: #666666;
}

.visible { display: block !important; }


h6 {
    line-height: 1.5;
}

.disabled {
    text-decoration: line-through;
    opacity: 0.5;
}

.disabled:after {
    content: '(surprised)';
    margin-left: 5px;
    font-size: 11px;
}

.defeated {
    text-decoration: line-through;
    opacity: 0.5;
    color: red;
}

.defeated:after {
    content: '(defeated)';
    margin-left: 5px;
    font-size: 11px;
}

.current-turn {
    color: green;
    font-weight: bold;
}

.navbar {
    margin-bottom: 0;
}

.cur-btns {
    margin-top: 10px;
}

/* theme */

.inner {
    padding: 10px 20px;
}

.l-main__tools {
    background-color: #f1f1f1;
}

.l-main__party {
   background-color: #333333;
   color: #ffffff;
}
.l-main__party .party-list__item {
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #484848;
    border-top: 1px solid #1d1d1d;
}

.l-main__party h6 {
    color: #bfbfa9;
}

.party-list h6 em {
    font-style: normal;
    color: #c7b657;
}


.party-list--monsters {
    background-color: #eeeeee;
    margin: 20px 0;
}

.party-list--monsters .party-list__item {
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #fff;
}

/* override bootstrap */
h2 {
    font-size: 20px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    padding-bottom: 5px;
    border-bottom-color: #666;
}

h3 {
    font-size: 17px;
    opacity: 0.7;
    margin-top: 0;
}

h4 {
    font-size: 15px;
}

.damage {
    margin-top: 10px;
}
