<div class="flex">
    <div class="flex__item party-list__icon">
        <div class="avatar"
             ng-if="human"
             ng-style="{ 'background-image': 'url(' + player.classname.image + ')' }">
        </div>
        <div class="avatar"
             ng-if="!human"
             ng-style="{ 'background-image': 'url(/assets/img/monsters/' + player.type + '.jpg)' }">
        </div>
        <button class="btn btn-warning btn-xs btn-block" ng-show="human" ng-click="editPlayer(player)">Edit</button>

        <button class="btn btn-danger btn-xs btn-block" ng-show="human" ng-click="removePlayer(player)">Remove</button>
        <button class="btn btn-danger btn-xs btn-block" ng-show="!human" ng-click="removePlayer(player, true)">Remove
        </button>

        <button class="btn btn-default btn-xs btn-block" ng-show="!human" ng-click="viewMonster(player)">View
            Skills</button>
        <button class="btn btn-info btn-xs btn-block"
                ng-click="(player.surprised) ? player.surprised = false : player.surprised = true">Surprised?</button>

        <div class="form-group form-group-sm damage">
            <input type="number" class="form-control input-sm" ng-model="player.damageToApply" placeholder="Damage">
            <button class="btn btn-danger btn-xs btn-block"
                    ng-click="damagePlayer(player)">
                Apply
            </button>
        </div>
    </div>
    <div class="flex__item party-list__info">
        <h4 class="media-heading">
            {{ player.name }}
            <small class="text-uppercase" ng-hide="human">{{ player.type }} / {{ player.alignment }}</small>
            <small class="text-uppercase" ng-show="human">{{ player.classname.name }}</small>
        </h4>
        <h6 class="text-uppercase">
            <span ng-hide="human">Challenge <em>{{ player.challenge_rating }}</em> &bull;</span>
            <span ng-show="human">Level <em>{{ player.level }}</em> &bull;</span>
            <em>{{ player.hit_points }}</em> HP &bull;
            <em>{{ player.armor_class }}</em> AC
            <span ng-show="human"><br />
                Passive WIS (Per.): <em>{{ player.passive_wisdom_perception }}</em><br />
            </span>
            <div ng-show="!human">
                Stealth modifier:
                <span ng-if="player.stealth">
                    <em>+{{ player.stealth }}</em>
                </span>
                <span ng-if="!player.stealth">
                    <em>{{ getAbilityScoreModifier(player.dexterity) }} (DEX)</em>
                </span>
                <br />
                Passive wisdom (perception): <em>{{player.passivePerception}}</em><br />
            </div>

        </h6>

        <ul class="stat-block list-unstyled"
            ng-hide="human">
            <li ng-repeat="stat in player.stats">
                <span class="stat-block__name">{{ stat.name }}</span>
                <span class="stat-block__value">{{ stat.modifier}}</span>
            </li>
        </ul>

        <div class="form-horizontal">
            <div class="form-group form-group-sm">
                <label class="control-label col-sm-6">Initiative</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control input-sm" ng-model="player.initiative">
                </div>
            </div>
            <div class="form-group form-group-sm">
                <label class="control-label col-sm-6">Hit points</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control input-sm" ng-model="player.hit_points">
                </div>
            </div>
        </div>

    </div>
</div>
